---
layout: default
---

<div class="home">
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        {%- for post in paginator.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}
        {%- if post.author -%}
         <span itemprop="author" itemscope itemtype="http://schema.org/Person">
             <span class="post-author" itemprop="name">• {{ post.author }}</span>
         </span>
        {%- endif -%}
        </span>
            <h2>
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | default: "WAT?" }}
                </a>
            </h2>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
            <b>WAT?</b>
            <hr class="post-divider"/>
        </li>
        {%- endfor -%}
    </ul>
    <!-- Pagination links -->
    <div class="pagination" style="text-align: center">
        {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
                <b><a href="/wat-increment" class="previous">
                    &#60;
                </a></b>
            {% else %}
                <b><a href="/wat-increment/{{ paginator.previous_page }}" class="previous">
                    &#60;
                </a></b>
            {% endif %}
        {% endif %}
        <span class="page_number">
            {% for i in (1..paginator.total_pages) %}
             {% if i == paginator.page %}
                    {{ i }}
             {% else %}
                    {% if i == 1 %}
                        <b><a href="/wat-increment/" class="next">1</a></b>
                    {% else %}
                        <b><a href="/wat-increment/{{ i }}" class="next">{{ i }}</a></b>
                    {% endif %}
             {% endif %}
            {% endfor %}
        </span>
        {% if paginator.next_page %}
        <b><a href="/wat-increment/{{ paginator.next_page }}" class="next">
            &#62;
        </a></b>
        {% endif %}
    </div>
    {%- endif -%}

</div>
