---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

//Global changes
h1, h2, h3, h4, h5, h6, .site-footer, .post-link {
  font-family: 'Balsamiq Sans', sans-serif;
}

h2#credits {
  margin-top: 10px;
  margin-bottom: 2px;
}

p {
  margin-bottom: 8px !important;
}

//Header + footer
.site-title, .site-title:visited {
  color: black;
  font-size: 32px;
}

.site-header {
  border-top: 0;

  background-color: #ffdb91;
  font-family: 'Balsamiq Sans', sans-serif;
}

.site-footer {
  border-top: 4px solid #eac55b;
  padding: 10px 0;

  text-align: center;
}

.social-media-list {
  margin-bottom: 8px;
}

.social-media-list .username {
  font-size: 18px;
}

//Posts
.post-list h2 {
  font-size: 1.8em;
  margin-bottom: 8px;
}

.post-title {
  font-size: 1.8em;
  letter-spacing: 0;
}

.post-header, .post h1 {
  margin-bottom: 15px;
}

.post-author {
  margin-left: 3px;
}

.post h2, .post h3, .post h4 {
  margin-bottom: 2px;
  padding-top: 2px;
}

.post-link {
  font-size: 1.4em;
}

.post-divider {
  border: 0;
  height: 4px;

  background-image: linear-gradient(to right, #eac55b 25px, #eac55bdd 50%, transparent 100%);
}

.post-list li:last-child .post-divider {
  height: 0;
}

//Pagination
.pagination {
  text-align: center;
  font-size: 18px;
  font-family: 'Balsamiq Sans', sans-serif;
}

.previous {
  margin-right: 6px;
}

.next {
  margin-left: 6px;
}

.page_number * {
  padding: 4px;
}

.page_number .current-page {
  font-weight: bold;

  background-color: rgba(255, 192, 65, 0.35);
  padding: 8px;
  border-radius: 4px;
}

//Project logo in header
.top-picture {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

.picture-link {
  transition: 0.3s;
}

.picture-link:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

//gh-logo in header
.logo-link:hover, .logo-link:active {
  text-decoration: none;
}

.gh-logo {
  margin-right: 8px;
  fill: #322f2f;
  transition: 0.3s;
  vertical-align: text-bottom;
}

.gh-logo:hover {
  fill: black;
  transition: 0.3s;
  transform: scale(1.2);
  text-decoration: none;
}