---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

h1, h2, h3, h4, h5, h6, .site-footer, .post-link {
  font-family: 'Balsamiq Sans', sans-serif;
}

.site-header {
  border-top: 0;

  background-color: #ffdb91;
  font-family: 'Balsamiq Sans', sans-serif;
}

.site-footer {
  border-top: 4px solid #eac55b;
  padding: 10px 0;

  text-align: center;
}

.post-author {
  margin-left: 3px;
}

.post h1 {
  margin-bottom: 5px;
}

.post h2, .post h3, .post h4 {
  margin-bottom: 2px;
  padding-top: 10px;
}

.post-link {
  font-size: 1.4em;
}

.post-divider {
  margin: 2px 0 12px 0;
  border: 0;
  height: 3px;

  background-image: linear-gradient(to right, #eac55b 25px, transparent 85%);
}

.post-list li:last-child .post-divider {
  height: 0;
}

.social-media-list {
  margin-bottom: 8px;
}